.about{
    padding: 80px 175px 100px;
    
    &__container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (min-width: 769px){
            &{
                gap: 120px;
                flex-direction: row-reverse;
            }
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 430px;
        @media  (max-width:449px) {
            &{  align-items: center;
            }}
        @media (min-width: 450px) and (max-width:768px) {
            &{  align-items:flex-start;
                gap: 25px;
            }}
        @media (min-width: 769px){
            &{  
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                height: 380px;
                max-width: 430px;
                gap: 25px;
            }}

        &__title{
            @include text($font-Georgia, 25px, 400, 32px, $color-dark-3);
            text-align: center;
            @media  (min-width:450px) {
               &{
                @include text($font-Georgia, 35px, 400, 45px, $color-dark-3);
                text-align: left;
                padding: 0;
               } 
            }
        }

        &__text{
            @include text($font-Arial, 15px, 400, 24px, $color-dark-4);
            letter-spacing: 0em;
            padding: 0;
            @media  (min-width:450px) {
                &{
                    @include text($font-Arial, 15px, 400, 24px, $color-dark-4);
                    text-align: justify;
                } 
             }
        }
    }
    &__pets{
        background: url('/asset/images/about-pets.jpg') no-repeat 100% 100%;
        background-size: contain;
       
        @media  (max-width:449px) {
            &{ min-width: 260px;
               min-height: 354px;}
        }
        @media (min-width: 450px){
            &{  width: 100%;
                min-height: 408px;}
        }
}
}