.pets__img__katrine {
    background: url("/asset/images/Pets/pets-katrine.jpg") no-repeat 100% 100%;
    background-size: cover;
    width: 270px;
    height: 270px;
  }
  
  .pets__img__jennifer {
    background: url("/asset/images/Pets/pets-jennifer.jpg") no-repeat 100% 100%;
    background-size: cover;
    width: 270px;
    height: 270px;
  }
  
  .pets__img__woody {
    background: url("/asset/images/Pets/pets-woody.jpg") no-repeat 100% 100%;
    background-size: cover;
    width: 270px;
    height: 270px;
  }
  
  .pets__img__sophia {
    background: url("/asset/images/Pets/pets-sophia.jpg") no-repeat 100% 100%;
    background-size: cover;
    width: 270px;
    height: 270px;
  }
  
  .pets__img__timmy {
    background: url("/asset/images/Pets/pets-timmy.jpg") no-repeat 100% 100%;
    background-size: cover;
    width: 270px;
    height: 270px;
  }
  
  .pets__img__charly {
    background: url("/asset/images/Pets/pets-charly.jpg") no-repeat 100% 100%;
    background-size: cover;
    width: 270px;
    height: 270px;
  }
  
  .pets__img__scarlett {
    background: url("/asset/images/Pets/pets-scarlet.jpg") no-repeat 100% 100%;
    background-size: cover;
    width: 270px;
    height: 270px;
  }
  
  .pets__img__freddie {
    background: url("/asset/images/Pets/pets-freddie.jpg") no-repeat 100% 100%;
    background-size: cover;
    width: 270px;
    height: 270px;
  }